[Unit]
Description=Check for certificates which are about to expire twice daily

[Timer]
OnBootSec=10
OnCalendar=*-*-* 00,12:00:00
AccuracySec=1us
RandomizedDelaySec=120

[Install]
WantedBy=timers.target
