[Unit]
Description=Certificate renewal via certhub/certbot
Documentation=man:certhub-run-certbot(1)
Documentation=man:certbot(1)

[Service]
Type=oneshot

ExecStart=/usr/bin/env \
    git gau-exec $CERTHUB_REPO \
    git gau-ac \
    git gau-xargs -I{WORKDIR} \
    certhub-message-format ${CERTHUB_CERT_PATH} x509 \
    certhub-certbot-run ${CERTHUB_CERT_PATH} ${CERTHUB_CSR_PATH} \
    certbot $CERTHUB_CERTBOT_ARGS --config $CERTHUB_CERTBOT_CONFIG

SyslogIdentifier=certhub-certbot-run

PrivateTmp=true
