language: shell

dist: xenial
sudo: false

stages:
  - "Lint"
  - "Unit test"
  - "Integration test"
    if: fork = false AND type = push
  - "GitHub release"
    if: fork = false AND type = push AND branch = master AND tag IS present

jobs:
  include:
    - stage: "Lint"
      script:
        - make lint

    - stage: "Unit test"
      addons:
        apt:
          packages:
            - python3
            - python3-pip
            - python3-setuptools
            - python3-wheel
      before_script:
        - pip3 install --user -r test/requirements.txt
      script:
        - make python=python3 test

    - stage: "Integration test"
      env:
        - secure: b4zF90vI1t+qEWzt09s1Tzb1BZj0bg3ttaO2Tw37vgRmSWzj5Pyp7P0Kn0ldReo9nEcFshZIToAHlR0VGvEwg5CLuawXfureYNJMT3w3Nr26NBsn0LGnbokkmCRt8Bk3KOng9+qB3BVdGyLii8hjDgHZ4Snvd3NsjJiHS4bGGo8vPrNW8XQSgfM88FvLKGuyO5CltMDjtChmNaIBA09TTpyzoXEftAodoTwbgdVOSYnOp0GM1T9mE+JaRKyr05QVDyMNQgm24ggNQbfGmfdA5AqC86v1g9KJdySRR/+5CjvSEl/ndQzhN5c+YPSgkkr75e1dkDCNOUmT7062yie1BolTf83g/dMo5TXXF/Vl1pS1AC7mpsUD8EFM6hvo7GbmJJlbhRFT9fu2CMz5pL6trsnSG1IvUT/Fm8JbM4Km6KT5LL5H7SzOoKpE+PppN6gmo0yjiYeR2PzHuuKoK5zbH0qleaTbwc29KUWMfG3e/sMujm6xp+p6vgSC+u6cIuh9vxhACiUcXmtu9k/Ni6kcBEcCcMsDjjAM1Nc3pLJeIcLYOVMrX2zVsam9sNAbpwWDW5ClkvLsJ8Osh6f24Yz3IauSZJqPsNSetlEl00KT/v9mn0ldw+HAVAtYVbDnEuDntKNquW4GWZuwvsK4j1LEWfEqaVZa8SkH+8tBwuEZbek=
      services:
        - docker
      addons:
        apt:
          packages:
            - pandoc
      before_script:
        - make dist
        - make -C integration-test images
      script:
        - make -C integration-test all

    - stage: "GitHub release"
      addons:
        apt:
          packages:
            - pandoc
      script:
        - make dist
      deploy:
        provider: releases
        api_key:
          secure: Prt6R7qAfOJGi/HLcyGUFCZG/QZGqjA+l553zZ7owT2n72skyzR3NAdMRi90hCzzIbnEGctQnVVKlrK75BnoAGWrTo0m5h2vtxpYy91k7GdlhRiswCn3X2hlqUnmeN7+rHuKK16BGx9Nn5JWo8sHAcFPJXFTH3Ad7k2h62D+L/p/hU5YvPOT9n5r3xkMUnOBLnx9ZHvmU6YastB6QkCz1LAAbox5xTO/NmiEswUt+E8MMAqEQU1JlwkhgnW24znFgi8JYq6MTyuC9P0M9JPzjaVaAy0gETGZzL5XVdX/W147VIW2UDlgqVgn+30JfMwlLERiU9NuDO1bllPo9WzkpXyqPN/4upQS8v6WD3u8rBwftK0+MkhHQwBoG3qjnPm01mWh+M9gP/JC1cjgXUmGasmkJDh/r9wPk8Of1ZOFCvE2jdAnbXnuvzimMUPhdFj412QQBnGsBGqVoJwOSZJ2s/A0Bo/LGYiEtZqfWeSjLifNar83fwIdb3P8HUV/+hdUwyBsKW5DbhwMBroGr151W1wIiqQ+UVaFiFdZw1E86MB46lSgMCRCYVdow+LO/WYAz6C9/FVFnfazxCcbdAymPm29lVsM9agQb/+Br0+Nz12oUpNk8olRDeQng5bdPH2EcGUsRPZtDnoyCxofc8LdJ0h9eXOG/sBeuKL5hpjcP1I=
        file:
          - dist/certhub-src.tar.gz
          - dist/certhub-dist.tar.gz
        skip_cleanup: true
        draft: true
        on:
          repo: znerol/certhub
          tags: true
