[Unit]
Description=Certificate renewal via certhub/certbot
Documentation=man:certhub-run-certbot(1)
Documentation=man:certbot(1)

[Service]
Type=oneshot
User=certhub
Group=certhub

# Git repository where certificates are stored. Note that certhub user needs
# write access to this repo.
Environment=CERTHUB_REPO=/home/certhub/certs.git

Environment="CERTHUB_MESSAGE_SUBJECT=[Certhub] Certbot renew %i"
Environment=CERTHUB_CERT_PATH={WORKDIR}/%i.fullchain.pem
Environment=CERTHUB_CSR_PATH=/home/certhub/config/%i.csr.pem

# Additional Arguments for certbot certonly run (see man:certbot(1))
Environment=CERTBOT_ARGS=--non-interactive
Environment=CERTBOT_CONFIG=/home/certhub/config/%i.certbot.ini

ExecStart=/usr/bin/env \
    git gau-exec $CERTHUB_REPO \
    git gau-ac \
    git gau-xargs -I{WORKDIR} \
    certhub-message-format ${CERTHUB_CERT_PATH} x509 \
    certhub-certbot-run ${CERTHUB_CERT_PATH} ${CERTHUB_CSR_PATH} \
    certbot $CERTBOT_ARGS --config $CERTBOT_CONFIG

SyslogIdentifier=certhub-certbot-run
StandardOutput=syslog
StandardError=syslog

PrivateTmp=true
