[Unit]
Description=Check for certificates which are about to expire
Documentation=man:certrot-expiry(1)

[Service]
Type=oneshot
User=certhub
Group=certhub

# Git repository where certificates are stored. Note that certhub user needs
# write access to this repo.
Environment=CERTHUB_REPO=/home/certhub/certs.git

# Parameters for certrot-expiry
Environment=CERTROT_EXPIRY_STATUSFILE=/home/certhub/status/%i.expiry.status
Environment=CERTROT_EXPIRY_TTL=2592000

ExecStart=/usr/bin/env git gau-exec $CERTHUB_REPO \
    /usr/bin/env git gau-xargs -I{} \
    /usr/bin/env certrot-expiry \
    $CERTROT_EXPIRY_STATUSFILE \
    {}/%i/fullchain.pem \
    $CERTROT_EXPIRY_TTL

SyslogIdentifier=certhub-certrot-expiry
StandardOutput=syslog
StandardError=syslog

PrivateTmp=true
