[Unit]
Description=Push certhub repo to another host
Documentation=man:git-push(1)

[Service]
Type=oneshot

ExecStart=/usr/bin/env \
    git --git-dir=${CERTHUB_REPO} push $CERTHUB_REPO_PUSH_ARGS ${CERTHUB_REPO_REMOTE} $CERTHUB_REPO_PUSH_REFSPEC

SyslogIdentifier=certhub-repo-push
StandardOutput=syslog
StandardError=syslog

PrivateTmp=true
