[Unit]
Description=Certificate export

[Service]
Type=oneshot

ExecStart=/usr/bin/env \
    git gau-exec $CERTHUB_REPO \
    git gau-xargs -I{WORKDIR} \
    rsync $CERTHUB_CERT_EXPORT_RSYNC_ARGS ${CERTHUB_CERT_EXPORT_SRC} ${CERTHUB_CERT_EXPORT_DEST}

SyslogIdentifier=certhub-cert-export
StandardOutput=syslog
StandardError=syslog

PrivateTmp=true
