[Unit]
Description=Certificate renewal via certhub/dehydrated
Documentation=man:certhub-dehydrated-run
Documentation=man:dehydrated(1)

[Service]
Type=oneshot

ExecStart=/usr/bin/env \
    git gau-exec $CERTHUB_REPO \
    git gau-ac \
    git gau-xargs -I{WORKDIR} \
    certhub-message-format ${CERTHUB_CERT_PATH} x509 \
    certhub-dehydrated-run ${CERTHUB_CERT_PATH} ${CERTHUB_CSR_PATH} \
    dehydrated $CERTHUB_DEHYDRATED_ARGS --config $CERTHUB_DEHYDRATED_CONFIG

SyslogIdentifier=certhub-dehydrated-run

PrivateTmp=true
