[Unit]
Description=Certificate export

[Service]
Type=oneshot
User=certhub
Group=certhub

# Git repository where certificates are stored.
Environment=CERTHUB_REPO=/home/certhub/certs.git
Environment=CERTHUB_EXPORT_DEST=/etc/ssl/certhub/%i/
Environment="CERTHUB_RSYNC_ARGS=\
    --checksum \
    --delete \
    --devices \
    --links \
    --perms \
    --recursive \
    --specials \
    --verbose"

ExecStart=/usr/bin/env \
    git gau-exec $CERTHUB_REPO \
    git gau-xargs -I{} \
    rsync $CERTHUB_RSYNC_ARGS {}/%i/ ${CERTHUB_EXPORT_DEST}

SyslogIdentifier=certhub-cert-export
StandardOutput=syslog
StandardError=syslog

PrivateTmp=true
