[Unit]
Description=Services reload

[Service]
Type=oneshot

ExecStart=/usr/bin/env \
    xargs -a ${CERTHUB_CERT_RELOAD_CONFIG} -I{} \
    systemctl ${CERTHUB_CERT_RELOAD_COMMAND} {}

SyslogIdentifier=certhub-cert-reload
StandardOutput=syslog
StandardError=syslog
