[Unit]
Description=Certificate export

[Service]
Type=oneshot
User=certhub
Group=certhub

# Git repository where certificates are stored.
Environment=CERTHUB_REPO=/home/certhub/certs.git
Environment=CERTHUB_EXPORT_DIR=/etc/ssl/certhub/
Environment=CERTHUB_FULLCHAIN_NAME=fullchain.pem
Environment=CERTHUB_CP_ARGS=

ExecStart=/usr/bin/env \
    git gau-exec $CERTHUB_REPO \
    git gau-xargs -I{} \
    cp $CERTHUB_CP_ARGS {}/%i/${CERTHUB_FULLCHAIN_NAME} ${CERTHUB_CERTDIR}

SyslogIdentifier=certhub-cert-export
StandardOutput=syslog
StandardError=syslog

PrivateTmp=true
