[Unit]
Description=Check for certificates which are about to expire
Documentation=man:certhub-cert-expiry(1)

[Service]
Type=oneshot

ExecStart=/usr/bin/env \
    git gau-exec ${CERTHUB_REPO} \
    git gau-xargs -I{WORKDIR} \
    certhub-status-file ${CERTHUB_CERT_EXPIRY_STATUSFILE} \
    certhub-cert-expiry ${CERTHUB_CERT_PATH} ${CERTHUB_CERT_EXPIRY_TTL} \
    certhub-message-format ${CERTHUB_CERT_PATH} x509 \
    echo ${CERTHUB_CERT_EXPIRY_MESSAGE}

SyslogIdentifier=certhub-cert-expiry

PrivateTmp=true
